.container {
  max-width: 1178px;
  margin: 0 auto;
}

.menu__logo,
.btn {
  cursor: pointer;
}

.btn {
  font-family: "Jost", sans-serif;
}

.line {
  display: block;
  margin: 10px 0 100px;
  height: 2px;
  background-color: #fff;
  opacity: 0.5;
}

.load__btn {
  display: flex;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  color: white;
  background-color: #f14f4f;
  border: none;
  border-radius: 4px;
  padding: 22px 47px;
}

.load__row {
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.load__row span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #f76002;
  border-radius: 50px;
  animation: up-down6 0.5s ease-in infinite alternate;
}

.load__row span:nth-child(2) {
  background: #e85b04c4;
  animation-delay: 0.16s;
}

.load__row span:nth-child(3) {
  background: #e85b0491;
  animation-delay: 0.32s;
}

.load__row span:nth-child(4) {
  background: #e85b0456;
  animation-delay: 0.48s;
}

.quiz {
  padding: 60px 0 54px;
}

.quiz__inner {
  padding: 46px 98px;
  background-color: #fff4ee;
}

.quiz__title {
  padding-bottom: 18px;
  font-weight: 700;
  font-size: 30px;
  color: #444b58;
}

.quiz__text {
  font-weight: 600;
  font-size: 16px;
  color: #808080;
}

.quiz__line {
  margin: 5px 0 25px;
  background-color: #808080;
}

.options__title {
  padding-bottom: 15px;
  font-weight: 600;
  font-size: 24px;
  color: #444b58;
}

.options__list {
  padding-bottom: 36px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
}

.options__card {
  flex-direction: column;
  display: flex;
  align-items: start;
  flex: 1 0 21%;
}

.checkbox {
  display: flex;
  align-items: end;
  cursor: pointer;
}

.checkbox label {
  font-weight: 600;
  font-size: 16px;
  color: #444b58;
  text-align: start;
}

/* .checked {
  background-color: #ad1818;
  content: "";
} */

.options__checkbox {
  /* content: url(../../assets/check.svg); */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 3px;
  width: 24px;
  height: 24px;
  margin: 10px 0 0;
  margin-right: 10px;
  background-color: transparent;
  border: #dbbba9 1px solid;
  border-radius: 4px;
  cursor: pointer;
}

.quiz__pages {
  margin-top: -8px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.pages__count {
  color: #808080;
  font-weight: 600;
  font-size: 16px;
}

.quiz__btn {
  background-color: transparent;
  border: 1px solid #444b58;
  border-radius: 4px;
  padding: 12px 42px;
  float: right;
  font-size: 16px;
}

@media (max-width: 1200px) {
  .quiz {
    padding: 20px 0 54px;
  }

  .quiz__inner {
    padding: 46px 98px;
    text-align: center;
  }

  .options__list {
    padding-bottom: 36px;
    gap: 15px;
    row-gap: 15px;
    justify-content: center;
  }

  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 808px) {
  .quiz {
    padding: 0;
  }

  .quiz__inner {
    padding: 46px 0px;
  }

  .quiz__title {
    font-size: 28px;
  }

  .quiz__text {
    padding: 0 10px 5px;
  }

  .quiz__pages {
    margin-top: 0px;
    justify-content: space-around;
  }

  .quiz__line {
    margin: 5px 20px 25px;
  }
}

@media (max-width: 808px) {
  .quiz__container {
    padding: 0;
  }

  .quiz__inner {
    padding: 30px 0px;
  }

  .quiz__title {
    font-size: 22px;
    padding: 0 7px 10px;
  }

  .options__title {
    font-size: 20px;
    padding: 0 7px 10px;
  }

  .quiz__line {
    margin: 5px 20px 15px;
  }

  .quiz__btn {
    padding: 8px 18px;
  }

  .options__list {
    padding: 0 15px 36px;
  }
}

@media (max-width: 612px) {
  .options__card {
    flex: 1 0 31%;
  }
}

@media (max-width: 480px) {
  .options__card {
    flex: 1 0 48%;
  }

  .options__list {
    gap: 0px;
  }
}
