.container {
  max-width: 1178px;
  margin: 0 auto;
}

.team {
  position: relative;
  background-color: #484283;
  padding: 68px 0 134px;
}

.team::before {
  content: url(../../assets/team-figure.svg);
  position: absolute;
  top: 0;
  right: 0;
}

.team h2 {
  padding-bottom: 32px;
  color: #fff;
}

.heading-text {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.heading-text span {
  font-weight: 100;
}

.image__gallery {
  display: flex;
  gap: 20px;
  position: relative;
}

.image__gallery .column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image__gallery .middle {
  margin-top: 100px;
}

.team__img img {
  width: 100%;
  border-radius: 5px;
  height: 100%;
  object-fit: cover;
}

.team__img {
  position: relative;
  cursor: pointer;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(36, 36, 36, 0.51);
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.5s 0.5s ease-in-out;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team__img:hover .overlay {
  transform: scale(1);
}

@media (max-width: 1200px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 768px) {
  .team {
    padding: 68px 0 80px;
  }
}

@media (max-width: 500px) {
  .team {
    padding: 30px 0 30px;
    overflow: hidden;
  }

  .team::before {
    display: none;
  }

  .image__gallery .middle {
    margin-top: 35px;
  }

  .overlay {
    font-size: 10px;
  }
}
