.container {
  max-width: 1178px;
  margin: 0 auto;
}

.menu__logo,
.btn {
  cursor: pointer;
}

.load__btn {
  display: flex;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  color: white;
  background-color: #f14f4f;
  border: none;
  border-radius: 4px;
  padding: 22px 47px;
}

.load__row {
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.load__row span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #f76002;
  border-radius: 50px;
  animation: up-down6 0.5s ease-in infinite alternate;
}

.load__row span:nth-child(2) {
  background: #e85b04c4;
  animation-delay: 0.16s;
}

.load__row span:nth-child(3) {
  background: #e85b0491;
  animation-delay: 0.32s;
}

.load__row span:nth-child(4) {
  background: #e85b0456;
  animation-delay: 0.48s;
}

.product__item {
  padding-bottom: 50px;
}

.card {
  display: flex;
  gap: 42px;
}

.card__title {
  padding-bottom: 48px;
  font-weight: 600;
  font-size: 24px;
}

.card__desc {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-weight: 600;
  font-size: 16px;
  color: #b2b5bb;
}

.card__desc li {
  max-width: 445px;
}

.card__desc span,
.card__id span {
  color: #444b58;
}

.card__id {
  font-weight: 600;
  font-size: 16px;
  color: #b2b5bb;
}

.card__gallery {
  max-width: 520px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.card__carousel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
}

.card__carousel img {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .card__carousel {
    display: none;
  }

  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 808px) {
  .card {
    flex-direction: column-reverse;
  }

  .card__gallery img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .card__title {
    font-size: 22px;
  }
}
