.footer {
  background-color: #444b58;
}

.footer__menu {
  padding: 30px 0;
}

@media (max-width: 1200px) {
  .footer__menu {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .footer__nav nav {
    flex-direction: row;
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .footer__nav nav {
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
  }
}
